<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>おかたづけ</title>
  </head>
  <body>
        <center><h1>おかたづけ</h1></center>
        <h1></h1>

        <h2>家の中から探す</h2>
        <h3>家の間取り図</h3>
        <h5>家のおおまかな絵をUpする</h5>
        <h2></h2>

        <h2>物の名前から探す</h2>
        <h3>よく使うもの</h3>
        <h3>カテゴリ</h3>
        <p>家電</p>
        <p>文房具</p>
        <p>本</p>
        <p>アニメグッズ</p>
		<p>Jinja2でHTMLファイルを読み込みことに成功しました。</p>
  </body>
</html>